<!-- owen -->

<div id='statisticsview-hku' class='side-body <?php echo getSideBodyClass(false); ?>'>

    <div class="row">
        <div class="col-sm-12">
            <h3>
                <span class="fa fa-bar-chart"></span> &nbsp;&nbsp;&nbsp;
                <?php eT("Statistics"); ?> <?php if($token){?> ( Token: <?php echo $token ?> ) <?php } ?>
            </h3>
        </div>


            <div class="text-right hide">
                <div class="form-group">
                    <div style="display:inline-block;position:relative;top:-65px;">
                    <label for='completionstate' class="control-label"><?php eT("Include:"); ?> </label>
                    <?php
                    echo CHtml::dropDownList(
                        'completionstate',
                        incompleteAnsFilterState(),
                        array(
                            "all"=>gT("All responses",'unescaped'),
                            "complete"=>gT("Complete only",'unescaped'),
                            "incomplete"=>gT("Incomplete only",'unescaped'),
                        ),
                        array(
                            'class'=>'form-control',
                            'style'=>'display: inline;width: auto;',
                            'data-url'=>App()->createUrl('/admin/statistics/sa/setIncompleteanswers/')
                        ))
                    ;
                    ?>
                </div>
                </div>
            </div>

    </div>


    <div class="row">
        <div class="col-sm-12">
            <?php echo CHtml::form(App()->createUrl('/admin/statistics/sa/statisticsByToken/', ['surveyid' => $surveyid]), 'post', array('autocomplete'=>'off')); ?>
                <div class="col-sm-offset-3 col-sm-6">
                    <div id="panel-1" class="panel panel-primary" style="opacity: 1; top: 0px;">
                        <div class="panel-heading">
                            <div class="panel-title h4">Please Enter Token</div>
                        </div> 
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <input type="text" id="token" name="token" size="5" value="<?php echo $token ?>" class="form-control">
                                    </div>
                                    <button class="button btn-primary btn-lg" type="submit">Check</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <?php if($token){?> 
        <div class="text-center">
            <a id="download" class="hide"><button class="button btn-warning btn-lg">Download</button></a>
            <a target="_blank" href="<?php echo App()->createUrl('/custom/report/index.php?surveyid='.$surveyid."&token=".$token) ?>"><button class="button btn-primary btn-lg">Preview</button></a>
        </div>
        <div class="col-sm-12" id="capture" style="background: white">
            <?php if(sizeof($raw_data)){?>
            <br/>
            <h4 class="text-center">Subject No. 參與者編號: <?php echo $sno; ?>&nbsp;&nbsp;&nbsp;<?php if($sex){?>Sex性別: <?php echo $sex ?> <?php } ?>&nbsp;&nbsp;&nbsp;<?php if($age){?>Age年齡: <?php echo $age ?><?php } ?></h4>
            <br/>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered" style="width: auto; margin: 0 auto; font-size: 18px">
                    <thead>
                        <tr><td class="text-center" colspan=<?=sizeof($raw_data)+2?>>EQ-5D-5L Level: 1=no problem無問題, 2=slight problems有輕微問題, 3=moderate problems有中度問題, <br/>4=severe problems有嚴重問題, 5=extreme problems有極度問題</td></tr>
                        <tr>
                            <td></td>
                            <td width="60px">HK population median</td> <!--age-gender adjusted -->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <td style="min-width: 60px"><?php echo date('Y', strtotime($value['submitdate'])) ?><br/><?php echo date('m-d', strtotime($value['submitdate'])) ?><br/><?php echo date('H:i', strtotime($value['submitdate'])) ?></td>
                            <?php } ?>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-bold">Mobility<br/>行動能力</td>
                            <td>1</td> <!--Todo-->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <?php if(!empty($value[$summary[0]])){ ?> 
                                <td><?php echo str_replace('A', '', $value[$summary[0]]); ?></td>
                                <?php } else { ?> 
                                <td>N/A</td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td class="text-bold">Self-Care<br/>自我照顧</td>
                            <td>1</td> <!--Todo-->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <?php if(!empty($value[$summary[1]])){ ?> 
                                <td><?php echo str_replace('A', '', $value[$summary[1]]); ?></td>
                                <?php } else { ?> 
                                <td>N/A</td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td class="text-bold">Usual activities<br/>平常活動</td>
                            <td>1</td> <!--Todo-->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <?php if(!empty($value[$summary[2]])){ ?> 
                                <td><?php echo str_replace('A', '', $value[$summary[2]]); ?></td>
                                <?php } else { ?> 
                                <td>N/A</td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td class="text-bold">Pain/discomfort<br/>疼痛/不舒服</td>
                            <td>1</td> <!--Todo-->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <?php if(!empty($value[$summary[3]])){ ?> 
                                <td><?php echo str_replace('A', '', $value[$summary[3]]); ?></td>
                                <?php } else { ?> 
                                <td>N/A</td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td class="text-bold">Anxiety/depression<br/>焦慮/沮喪</td>
                            <td>2</td> <!--Todo-->
                            <?php foreach ($raw_data as $key => $value) { ?>
                                <?php if(!empty($value[$summary[4]])){ ?> 
                                <td><?php echo str_replace('A', '', $value[$summary[4]]); ?></td>
                                <?php } else { ?> 
                                <td>N/A</td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                    </tbody>
                </table>
            </div>
                

                <br/>
                <br/>
                <br/>
                <div id="main" style="width: 100%;height:500px; margin: 0 auto; max-width: 900px; position: relative;"></div>
                <div id="main-line" style="display: none; position: absolute; top: 110px; right: 0px; font-size: 18px">Population mean 人口平均數</div>
                <br/>
                <br/>
                <br/>
                <div id="main2" style="width: 100%;height:400px; margin: 0 auto; max-width: 900px"></div>


                <script type="text/javascript">
                $(document).on('ready pjax:complete',function() {
                    var myChart = echarts.init(document.getElementById('main'));
                    var x = [], series = [];
                    <?php foreach($raw_data AS $key=>$value){ ?>
                        <?php if($value['healthstate'] <= 1){?>
                        x.push( "<?php echo date('Y-m-d', strtotime($value['submitdate'])); ?>\n<?php echo date('H:i', strtotime($value['submitdate'])) ?>" );
                        // x.push( "<?php echo 'Time'.($key+1) ?>" );
                        series.push( {value: "<?php echo (float)$value['healthstate'] ?>", label: {show: true} } );
                        <?php } ?>
                    <?php } ?>

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: 'EQ-5D-5L Utility Score (綜合健康值)',
                            left: 'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: true,
                            data: x,
                            axisLabel:{
                                textStyle:{
                                    fontSize: '18',
                                    fontStyle: 'italic'
                                }
                            },
                            axisLine:{
                                show: false
                            },
                            axisPointer: {
                                show: false
                            },
                            slient: true
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [-1.2, 1.2],
                            min: -0.4,
                            max: 1,
                            minInterval: 0.2,
                            maxInterval: 0.2,
                            axisLabel:{
                                textStyle:{
                                    fontSize: '18'
                                }
                            },
                            splitLine:{
                        　　　　show:false
                            },
                            axisPointer: {
                                show: false
                            },
                            slient: true
                        },
                        series: [
                            {
                                data: series,
                                type: "line",
                                label: {
                                    fontSize: 18
                                }
                            },
                            // {
                            //     name:"HK Population Median",
                            //     type:"line",
                            //     data:[{
                            //         value: 0.521
                            //     }],
                            //     markLine: {
                            //         lineStyle: {
                            //             type: 'solid'
                            //         },
                            //         precision: 3,
                            //         data: [
                            //             {type: "average", name: "value"}
                            //         ]
                            //     }
                            // }
                            {
                                name:"HK Population Mean",
                                type:"line",
                                data:[{
                                    value: 0.87
                                }],
                                markLine: {
                                    lineStyle: {
                                        type: 'solid'
                                    },
                                    precision: 3,
                                    data: [
                                        {type: "average", name: "value"}
                                    ]
                                }
                            }
                            <?php if(isset($sex)){ ?> 
                            // ,{
                            //     name:"Mean",
                            //     type:"line",
                            //     data:[<?php echo $marklines['mean'] ?>],
                            //     markLine: {
                            //         lineStyle: {
                            //             type: 'solid'
                            //         },
                            //         precision: 3,
                            //         data: [
                            //             {type: "average", name: "<?php echo $sex ?>"}
                            //         ]
                            //     }
                            // }
                            // {
                            //     name:"95.0% Lower CL for Mean",
                            //     type:"line",
                            //     data:[<?php echo $marklines['lower'] ?>],
                            //     markLine: {
                            //         precision: 3,
                            //         data: [
                            //             {type: "average", name: "<?php echo $sex ?>"}
                            //         ]
                            //     }
                            // },
                            // {
                            //     name:"95.0% Upper CL for Mean",
                            //     type:"line",
                            //     data:[<?php echo $marklines['upper'] ?>],
                            //     markLine: {
                            //         precision: 3,
                            //         data: [
                            //             {type: "average", name: "<?php echo $sex ?>"}
                            //         ]
                            //     }
                            // }
                            <?php } ?>
                            
                        ]
                    };
                    myChart.setOption(option);

                    
                    var myChart = echarts.init(document.getElementById('main2'));
                    var x = [], series = [];
                    <?php foreach($raw_data AS $key=>$value){ ?>
                        <?php if($value['716222X2X6'] != ''){?>
                        x.push( "<?php echo date('Y-m-d', strtotime($value['submitdate'])); ?>\n<?php echo date('H:i', strtotime($value['submitdate'])) ?>" );
                        series.push( {value: "<?php echo (float)$value['716222X2X6'] ?>", label: {show: true} } )
                        <?php } ?>
                    <?php } ?>

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: 'EQ-5D-5L VAS (自我健康評分)​',
                            left: 'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: true,
                            data: x,
                            axisLabel:{
                                textStyle:{
                                    fontSize: '18',
                                    fontStyle: 'italic'
                                }
                            },
                            axisPointer: {
                                show: false
                            },
                            slient: true
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [0, 1.2],
                            min: 0,
                            max: 100,
                            data: [0, 20, 40, 60, 80, 100],
                            axisLabel:{
                                textStyle:{
                                    fontSize: '18'
                                }
                            },
                            axisPointer: {
                                show: false
                            },
                            slient: true
                        },
                        series: [{
                            data: series,
                            type: 'line'
                        }]
                    };
                    myChart.setOption(option);

                    var downloadName = '<?php echo $token ?>.png';
                    // var meanLineValue = parseFloat(<?php echo $marklines['mean'] ?>);
                    var meanLineValue = 0.87;


                    $("#main-line").css("display", "block");
                    $("#main-line").css("top", 110 + 90*(1-(meanLineValue - 0.521)/0.32));
                    $("#main").append($("#main-line"));

                    document.getElementById('download').addEventListener('click', function() {
                            // $("#main-line").css("display", "block");
                            // $("#main-line").css("top", 110 + 90*(1-(meanLineValue - 0.521)/0.32));
                            // $("#main").append($("#main-line"));
                            downloadCanvas(this, downloadName);
                            $(this).removeClass("hide");
                      }, false);
                    setTimeout(function(){
                        document.getElementById('download').click();
                        $(this).removeClass("hide");
                    }, 1000);

                      function downloadCanvas(link, filename) {

                        // $("#main-line").css("display", "block");
                        // var temp = $("#main").offset().top;
                        // $("#main-line").css("top", temp-250);
                        // var temp = $("#main").offset().left + $("#main").width() - 60;
                        // $("#main-line").css("left", temp);

                        var myDom = document.querySelector("#capture");
                        // myDom.style.transform = myDom.style.webkitTransform = 'scale(2)';
                        // myDom.style.transformOrigin = myDom.style.webkitTransformOrigin = '0 0';
                        html2canvas(myDom).then(canvas => {
                          var image = canvas.toDataURL({
                            format: 'png',
                            quality: 1,
                            // width: myDom.offsetWidth * 2,
                            // height: myDom.offsetHeight * 2
                          });

                            // $("#main-line").css("display", "none");
                          // .replace("image/png", "image/octet-stream");
                          // window.location.href = image; // it will save locally

                          link.href = image;
                          link.download = filename;
                        });
                      }
                });
            </script>
            <?php } else { ?> 
                <p class="text-center"><?php eT("Record does not exist, please try another token"); ?></p>
            <?php }?>
            

            <?php } ?>
        </div>
    </div>
</div>